In [42]:
record = { 131001 : { "Product_name" : "Rice", "Quantity" : 100, "Price" : 150, "mfg": "1-1-2021", "exp": "1-1-2023"},
           131002 : { "Product_name" : "Cake", "Quantity" : 100, "Price" : 250, "mfg": "1-1-2022", "exp": "1-1-2023"},
           131003 : { "Product_name" : "Card", "Quantity" : 100, "Price" : 50, "mfg": "2-1-2021", "exp": "1-1-2024"},
           131004 : { "Product_name" : "Tea", "Quantity" : 100, "Price" : 130, "mfg": "1-3-2021", "exp": "1-1-2023"},
           131005 : { "Product_name" : "Sugar", "Quantity" : 100, "Price" : 170, "mfg": "4-1-2021", "exp": "1-1-2023"},
           131006 : { "Product_name" : "Wine", "Quantity" : 100, "Price" : 450, "mfg": "1-5-2021", "exp": "1-1-2023"},
           131007 : { "Product_name" : "Horlicks", "Quantity" : 100, "Price" : 154, "mfg": "12-1-2021", "exp": "1-1-2027"},
           131008 : { "Product_name" : "Coffee", "Quantity" : 100, "Price" : 250, "mfg": "18-1-2021", "exp": "1-1-2023"},
           131009 : { "Product_name" : "Turmeric Powder", "Quantity" : 100, "Price" : 10, "mfg": "10-1-2021", "exp": "1-1-2023"},
           131010 : { "Product_name" : "Milk", "Quantity" : 100, "Price" : 70, "mfg": "1-10-2021", "exp": "1-1-2024"},
           131011 : { "Product_name" : "Liquid Soap", "Quantity" : 100, "Price" : 80, "mfg": "14-1-2021", "exp": "1-1-2023"},
           131012 : { "Product_name" : "Dish Wash", "Quantity" : 100, "Price" : 30, "mfg": "1-11-2021", "exp": "1-1-2022"},
           131013 : { "Product_name" : "Chocolates", "Quantity" : 100, "Price" : 140, "mfg": "21-1-2021", "exp": "1-1-2023"},
           131014 : { "Product_name" : "Dal", "Quantity" : 100, "Price" : 90, "mfg": "1-9-2021", "exp": "1-1-2023"},
           131015 : { "Product_name" : "Jerra", "Quantity" : 100, "Price" : 180, "mfg": "13-1-2021", "exp": "1-1-2025"},
           131016 : { "Product_name" : "Chilly Flex", "Quantity" : 100, "Price" : 15, "mfg": "19-1-2021", "exp": "1-1-2028"},
           131017 : { "Product_name" : "Peper", "Quantity" : 100, "Price" : 120, "mfg": "1-10-2021", "exp": "1-1-2023"},
           131018 : { "Product_name" : "Pasta", "Quantity" : 100, "Price" : 170, "mfg": "15-1-2021", "exp": "1-1-2023"},
           131019 : { "Product_name" : "Noddles", "Quantity" : 100, "Price" : 30, "mfg": "21-1-2021", "exp": "1-1-2023"},
           131020 : { "Product_name" : "Oats", "Quantity" : 100, "Price" : 60, "mfg": "31-1-2021", "exp": "1-1-2023"},
           131021 : { "Product_name" : "Soya Souce", "Quantity" : 100, "Price" : 65, "mfg": "20-1-2021", "exp": "1-1-2022"},
           131022 : { "Product_name" : "Cashew", "Quantity" : 100, "Price" : 152, "mfg": "16-1-2021", "exp": "1-1-2023"},
           131023 : { "Product_name" : "Almond", "Quantity" : 100, "Price" : 145, "mfg": "14-1-2021", "exp": "1-1-2023"},
           131024 : { "Product_name" : "Wheat", "Quantity" : 100, "Price" : 158, "mfg": "13-1-2021", "exp": "1-1-2023"}, 
           131025 : { "Product_name" : "Cumin", "Quantity" : 100, "Price" : 185, "mfg": "15-1-2021", "exp": "1-1-2025"},
           131026 : { "Product_name" : "Jam", "Quantity" : 100, "Price" : 123, "mfg": "17-1-2021", "exp": "1-1-2025"},
           131027 : { "Product_name" : "Burbon", "Quantity" : 100, "Price" : 145, "mfg": "1-10-2021", "exp": "1-1-2024"},
           131028 : { "Product_name" : "Apple Juice", "Quantity" : 100, "Price" : 210, "mfg": "12-1-2021", "exp": "1-1-2023"},
           131029 : { "Product_name" : "Butter", "Quantity" : 100, "Price" : 170,"mfg": "1-10-2021", "exp": "1-1-2024"},
          }

# Read Inventory

In [43]:
import json
js=json.dumps(record)

fd = open("record json", 'w')
fd.write(js)
fd.close()

# Item Purchased

In [44]:
print("Check the items: ",record)
print("_________________________________________________________________________________________")
reg=int(input("Enter the product ID: "))
qty=int(input("Enter the quantity: "))

if(reg in record):
      print("B I L L")
      print("Product_name: ",record[reg]['Product_name'])
      print("Price: ",record[reg]['Price'])
      print("Quantity",qty)
      print("*****************************************")
      print("*****************************************")
      print("Total price: ", record[reg]['Price']*qty)
      
else:
  print("Check the list! Enter the correct id.")

Check the items:  {131001: {'Product_name': 'Rice', 'Quantity': 100, 'Price': 150, 'mfg': '1-1-2021', 'exp': '1-1-2023'}, 131002: {'Product_name': 'Cake', 'Quantity': 100, 'Price': 250, 'mfg': '1-1-2022', 'exp': '1-1-2023'}, 131003: {'Product_name': 'Card', 'Quantity': 100, 'Price': 50, 'mfg': '2-1-2021', 'exp': '1-1-2024'}, 131004: {'Product_name': 'Tea', 'Quantity': 100, 'Price': 130, 'mfg': '1-3-2021', 'exp': '1-1-2023'}, 131005: {'Product_name': 'Sugar', 'Quantity': 100, 'Price': 170, 'mfg': '4-1-2021', 'exp': '1-1-2023'}, 131006: {'Product_name': 'Wine', 'Quantity': 100, 'Price': 450, 'mfg': '1-5-2021', 'exp': '1-1-2023'}, 131007: {'Product_name': 'Horlicks', 'Quantity': 100, 'Price': 154, 'mfg': '12-1-2021', 'exp': '1-1-2027'}, 131008: {'Product_name': 'Coffee', 'Quantity': 100, 'Price': 250, 'mfg': '18-1-2021', 'exp': '1-1-2023'}, 131009: {'Product_name': 'Turmeric Powder', 'Quantity': 100, 'Price': 10, 'mfg': '10-1-2021', 'exp': '1-1-2023'}, 131010: {'Product_name': 'Milk', 'Quantity': 100, 'Price': 70, 'mfg': '1-10-2021', 'exp': '1-1-2024'}, 131011: {'Product_name': 'Liquid Soap', 'Quantity': 100, 'Price': 80, 'mfg': '14-1-2021', 'exp': '1-1-2023'}, 131012: {'Product_name': 'Dish Wash', 'Quantity': 100, 'Price': 30, 'mfg': '1-11-2021', 'exp': '1-1-2022'}, 131013: {'Product_name': 'Chocolates', 'Quantity': 100, 'Price': 140, 'mfg': '21-1-2021', 'exp': '1-1-2023'}, 131014: {'Product_name': 'Dal', 'Quantity': 100, 'Price': 90, 'mfg': '1-9-2021', 'exp': '1-1-2023'}, 131015: {'Product_name': 'Jerra', 'Quantity': 100, 'Price': 180, 'mfg': '13-1-2021', 'exp': '1-1-2025'}, 131016: {'Product_name': 'Chilly Flex', 'Quantity': 100, 'Price': 15, 'mfg': '19-1-2021', 'exp': '1-1-2028'}, 131017: {'Product_name': 'Peper', 'Quantity': 100, 'Price': 120, 'mfg': '1-10-2021', 'exp': '1-1-2023'}, 131018: {'Product_name': 'Pasta', 'Quantity': 100, 'Price': 170, 'mfg': '15-1-2021', 'exp': '1-1-2023'}, 131019: {'Product_name': 'Noddles', 'Quantity': 100, 'Price': 30, 'mfg': '21-1-2021', 'exp': '1-1-2023'}, 131020: {'Product_name': 'Oats', 'Quantity': 100, 'Price': 60, 'mfg': '31-1-2021', 'exp': '1-1-2023'}, 131021: {'Product_name': 'Soya Souce', 'Quantity': 100, 'Price': 65, 'mfg': '20-1-2021', 'exp': '1-1-2022'}, 131022: {'Product_name': 'Cashew', 'Quantity': 100, 'Price': 152, 'mfg': '16-1-2021', 'exp': '1-1-2023'}, 131023: {'Product_name': 'Almond', 'Quantity': 100, 'Price': 145, 'mfg': '14-1-2021', 'exp': '1-1-2023'}, 131024: {'Product_name': 'Wheat', 'Quantity': 100, 'Price': 158, 'mfg': '13-1-2021', 'exp': '1-1-2023'}, 131025: {'Product_name': 'Cumin', 'Quantity': 100, 'Price': 185, 'mfg': '15-1-2021', 'exp': '1-1-2025'}, 131026: {'Product_name': 'Jam', 'Quantity': 100, 'Price': 123, 'mfg': '17-1-2021', 'exp': '1-1-2025'}, 131027: {'Product_name': 'Burbon', 'Quantity': 100, 'Price': 145, 'mfg': '1-10-2021', 'exp': '1-1-2024'}, 131028: {'Product_name': 'Apple Juice', 'Quantity': 100, 'Price': 210, 'mfg': '12-1-2021', 'exp': '1-1-2023'}, 131029: {'Product_name': 'Butter', 'Quantity': 100, 'Price': 170, 'mfg': '1-10-2021', 'exp': '1-1-2024'}}
_________________________________________________________________________________________
Enter the product ID: 131004
Enter the quantity: 10
B I L L
Product_name:  Tea
Price:  130
Quantity 10
*****************************************
*****************************************
Total price:  1300

# Inventory after purchased

In [45]:
js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

# Sales JSON

In [46]:
{'Product_ID': reg, 'Qty': qty, 'Amt':record[reg]['Price'] * qty}

{'Amt': 1300, 'Product_ID': 131004, 'Qty': 10}

In [49]:
reg2=int(input("Enter the product ID: "))
qty2=int(input("Enter the quantity: "))

if(reg in record):
      print("B I L L")
      print("Product_name: ",record[reg2]['Product_name'])
      print("Price: ",record[reg2]['Price'])
      print("Quantity",qty)
      print("*****************************************")
      print("*****************************************")
      print("Total price: ", record[reg2]['Price']*qty2)
      
else:
  print("Check the list! Enter the correct id.")

Enter the product ID: 131005
Enter the quantity: 10
B I L L
Product_name:  Sugar
Price:  170
Quantity 10
*****************************************
*****************************************
Total price:  1700

In [50]:
{'Product_ID_2': reg2, 'Qty_2': qty2, 'Amt_2':record[reg2]['Price'] * qty2}

{'Amt_2': 1700, 'Product_ID_2': 131005, 'Qty_2': 10}

In [51]:
reg3=int(input("Enter the product ID: "))
qty3=int(input("Enter the quantity: "))

if(reg in record):
      print("B I L L")
      print("Product_name: ",record[reg3]['Product_name'])
      print("Price: ",record[reg3]['Price'])
      print("Quantity",qty)
      print("*****************************************")
      print("*****************************************")
      print("Total price: ", record[reg3]['Price']*qty3)
      
else:
  print("Check the list! Enter the correct id.")

Enter the product ID: 131006
Enter the quantity: 10
B I L L
Product_name:  Wine
Price:  450
Quantity 10
*****************************************
*****************************************
Total price:  4500

In [52]:
{'Product_ID_3': reg3, 'Qty_3': qty3, 'Amt_3':record[reg3]['Price'] * qty3}

{'Amt_3': 4500, 'Product_ID_3': 131006, 'Qty_3': 10}

In [53]:
sales = {1 : {'Product_ID' : reg, 'qn' : qty, 'amount': record[reg]['Price'] * qty},
         2 : {'Product_ID_2' : reg2, 'qn_2' : qty2, 'amount_2': record[reg2]['Price'] * qty2},
         3 : {'Product_ID_3' : reg3, 'qn_3' : qty3, 'amount_3': record[reg3]['Price'] * qty3}}

In [54]:
sales

{1: {'Product_ID': 131004, 'amount': 1300, 'qn': 10},
 2: {'Product_ID_2': 131005, 'amount_2': 1700, 'qn_2': 10},
 3: {'Product_ID_3': 131006, 'amount_3': 4500, 'qn_3': 10}}

In [55]:
import json
js=json.dumps(sales)

In [56]:
fd = open('sales.json','w')
t=fd.write(js)
fd.close()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')